1 '=============================================================
1 '== Project: {{ project }}
1 '== Version: {{ version }} - Build: {{ build }}
1 '=============================================================

10 PRINT "HELLO WORLD"